body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgb(222, 230, 236);
  }
  
  .container {
    height: 300px;
    width: 500px;
    border: 2px solid black;
    background-color: rgb(8, 180, 237);
  }
  
  .content {
    display: flex;
    width: 100%;
  }
  
  .main-content {
    flex: 1;
    background-color: orange;
    display: flex;
    justify-content: left;
    align-items: center;
    padding: 10px;
    border: 1px solid black;
    margin: 2px;
  }
  
  .inner-box {
    width: 50%;
    height: 140px;
    background-color: rgb(247, 0, 0);
    border: 1px solid black;
  }
  
  .sidebar {
    width: 230px;
    height:137px;
    flex: 1.3;
    background-color: green;
    border: 1px solid black;
    margin: 2px;
    position:absolute;
    top:330px;
    right:720px;
    
  }
  
  .footer {
    position: relative;
    display: flex;
  }
  
  .footer-box {
    flex: 1;
    background-color: rgb(255, 15, 15);
    border: 1px solid black;
    height: 120px;
    margin: 2px;
  }